@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #eee;
	color: #000;
	background-repeat: no-repeat;
	background-size: cover;
}
/* ~~ Element/tag selectors ~~ */
#title {
	margin: auto;
    	width: 100%;
    	border: 3px ridge silver;
    	padding: 5px;
	border-radius: 8px;
	background-color: teal;
}
#title h1 {
	text-align: center;
}
#nav {
	margin: auto;
	border: 3px ridge silver;
	padding: 2px;
	border-radius: 8px;
	background-color:aquamarine;
}
#search {
	float: left;
	margin: auto;
	position: relative;
	border: 3px ridge silver;
	height: 385px;
	text-align: left;
	padding: 10px;
	border-radius: 8px;
	background-color: orange;
}
#list {
	width:50%;
	float: left;
	position: relative;
}
#list h2 {
	margin-left: 10px;
}
.suggested-recipes {
	padding-right: 0px !important;
}
.suggested-recipes .row {
	margin-left: -5px;
	margin-right: -5px;
}
.suggested-recipes [class*='col-'] {
	padding-left: 5px;
	padding-right: 5px;
}
.thumbnail .img-rounded
{
	width: 100%;
	max-height: 125px;
}
.thumbnail h3 {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.thumbnail p {
	margin: 5px 0 0 0;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.thumbnail .btn
{
	margin-top: 10px;
	width: 100%;
}
.thumbnail .caption {
	text-align: center;
}
#bar {
	width: 100%;
	height: 457px;
	border: 1px ridge silver;
	border-radius: 8px;
	text-align: center;
	vertical-align: middle;
	background-image: url('./img/search-bg.png');
	margin-bottom: 10px;
}
#bar input {
	opacity:1;
	display: block;
	float: left;
}
#bar .input-group {
	width: 50%;
	margin: 212px auto 0 auto;
}
.btn btn-default {
	position: absolute;
	top: 50%;
}
#searching {
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:200%
}
#searching h3 {
	color:gray;
	text-shadow: 3px 2px red;
}
#recommended {
	width: 918px;
	margin: 10px 50px;
	padding: 10px;
	border-radius: 8px;
	
}
#recipe {
	margin: auto;
	border: 3px ridge silver;
	width: 250px;
	height: 210px;
	padding-right: 22px;
	border-radius: 8px;
	background-color: silver;
}
.navbar {
	margin-bottom: 15px !important;
}

#dish_title {
	padding;0px;
}

#recipe_image {
	max-height: 100%;
	max-width: 100%;
}

#ingredients {
	font-size: 150%;
}

#categories {
	margin-top:0px;
}

#cart {
	margin-left:15px;
}

#cart_table {
	margin:5px;
}

#account {
	border: 5px silver solid;
	border-radius: 3px;
}

#account_entry {
	margin-left:5px;
}

